:root {
  --color1: rgba(170, 68, 101, 1);
  --color2: rgba(237, 240, 218, 1);
  --color3: rgba(240, 223, 173, 1);
  --color4: rgba(161, 130, 118, 1);
  --color5: rgba(143, 92, 56, 1);

  --borderSize: 0.8vmin;
  --borderRadius: calc(2 * var(--borderSize));
}

* {
  box-sizing: border-box;
}

html {
  font-size: 2vh;
}

@media (max-width: 560px) {
  html {
    font-size: 1.7vh;
  }
}

body {
  background: var(--color4);
  font-family: 'Montserrat', sans-serif;
  color: var(--color1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Encode Sans Expanded', sans-serif;
}

button {
  background-color: var(--color1);
  color: var(--color3);
  font-size: 1.5em;
  text-align: center;
  border: 0;
  padding: 0.3em 2em;
  border-radius: var(--borderRadius);
  outline: none;
}

#greeter,
#leaders {
  z-index: 2;
  border: var(--borderSize) solid var(--color5);
  border-radius: var(--borderRadius);
  background: var(--color2);
  position: fixed;
  height: 40vh;
  width: 40vw;
  top: 20vh;
  left: 30vw;
  text-align: center;
  transition-duration: 0.4s;
  transition-property: opacity, transform;
}

@media (max-width: 768px) {
  #greeter,
  #leaders {
    width: 70vw;
    left: 15vw;
  }
}

#leadersButton,
#leadersCloseButton {
  position: absolute;
  width: 6rem;
  height: 6rem;
  top: -3rem;
  right: -3rem;
  background: var(--color2);
  border: var(--borderSize) solid var(--color5);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

#leadersButton i,
#leadersCloseButton i {
  font-size: 4rem;
}

#leadersButton {
  transform: rotate(10deg);
}

#greeter h1 {
  margin: 0.3em 0;
}

#greeter .n {
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
}

#greeter .n input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--color1);
  font-size: 2em;
  text-align: center;
  outline: none;
}

#greeter .n input::placeholder {
  opacity: 0;
}

#greeter .n input:placeholder-shown~label {
  transform: translateY(140%) scale(2);
}

#greeter .n input:active,
#greeter .n input:focus {
  & ~ label {
    transform: none;
  }
}

#greeter .d {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

#greeter .d label {
  width: 100%;
  font-size: 1.5em;
  margin: 0.3em 0;
}

#greeter .d label.op {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
}

#greeter .d label.op .l {
  display: inline-block;
  margin-left: 0.3em;
}

#leaders {
  opacity: 0;
  pointer-events: none;
  top: 10vh;
  height: 80vh;
}

#leaders .win {
  display: none;
}

#leaders .stats {
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;
  height: 100%;
}

#leaders .stats .stat {
  position: relative;
  width: 50%;
  height: 50%;
  min-height: 20vh;
  padding: 1em;
}

#leaders .stats .stat .title {
  font-size: 1.2em;
}

#leaders .stats .stat i {
  position: absolute;
  font-size: 5em;
  opacity: 0;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
}

#leaders .stats .stat .list[data-items="0"] ~ i {
  opacity: 0.2;
}

#leaders .stats .stat .list {
  overflow-y: auto;
  counter-reset: blah;
  height: 100%;
}

#leaders .stats .stat .list .item {
  counter-increment: blah;
  overflow: hidden;
  padding: 0.15em 0;
  padding-left: 2.8em;
  position: relative;
}

#leaders .stats .stat .list .item:before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  line-height: 1.2;
  content: counter(blah);
  display: block;
  width: 1.2em;
  text-align: right;
}

#leaders .stats .stat .list .item:after {
  content: '';
  display: block;
  opacity: 0.2;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
}

#board {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#board #abort {
  position: fixed;
  top: 1vh;
  right: 1vw;
}

#board #cards {
  position: fixed;
  top: 8vh;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
}

#board #cards .card {
  position: relative;
  user-select: none;
}

#board #cards .card:before,
#board #cards .card:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: var(--borderSize) solid var(--color5);
  margin: 0.5em;
  border-radius: var(--borderRadius);
  backface-visibility: hidden;
}

#board #cards .card:before {
  background: var(--color2);
  transform: rotateY(180deg);
}

#board #cards .card:after {
  background: var(--color3);
  transform: none;
}

#board #cards .card i {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  color: var(--color1);
  position: absolute;
  z-index: 2;
}

#board #cards .card.visible:after {
  transform: rotateY(180deg);
}

#board #cards .card.visible:before,
#board #cards .card.visible i {
  transform: none;
}

#board #cards .card.visible.found {
  transition: opacity 1s 0.4s;
  opacity: 0.2;
}

@media (data-difficulty="0") {
  #board #cards .card {
    width: 50%;
    height: 50%;
  }
  #board #cards .card i {
    font-size: 16vh;
    top: calc(50% - 8vh);
    left: calc(50% - 8vh);
  }
}

@media (data-difficulty="1") {
  #board #cards .card {
    width: 25%;
    height: 25%;
  }
  #board #cards .card i {
    font-size: 14vh;
    top: calc(50% - 7vh);
    left: calc(50% - 7vh);
  }
}

@media (data-difficulty="2") {
  #board #cards .card {
    width: 16.6666%;
    height: 16.6666%;
  }
  #board #cards .card i {
    font-size: 12vh;
    top: calc(50% - 6vh);
    left: calc(50% - 6vh);
  }
}

@media (data-difficulty="3") {
  #board #cards .card {
    width: 12.5%;
    height: 12.5%;
  }
  #board #cards .card i {
    font-size: 10vh;
    top: calc(50% - 5vh);
    left: calc(50% - 5vh);
  }
}

#board.locked #cards {
  pointer-events: none;
}

#board.playing ~ #greeter {
  transform: translateY(-300%) scale(0);
  opacity: 0;
}

#board.playing {
  pointer-events: auto;
  opacity: 1;
}

#board.completed ~ #leaders {
  opacity: 1;
  pointer-events: auto;
}

#leaders.visible ~ #greeter {
  display: none;
}


:root {
  --color1: rgba(170, 68, 101, 1);
  --color2: rgba(237, 240, 218, 1);
  --color3: rgba(240, 223, 173, 1);
  --color4: rgba(161, 130, 118, 1);
  --color5: rgba(143, 92, 56, 1);

  --borderSize: 0.8vmin;
  --borderRadius: calc(2 * var(--borderSize));
}

* {
  box-sizing: border-box;
}

html {
  font-size: 2vh;
}

@media (max-width: 560px) {
  html {
    font-size: 1.7vh;
  }
}

body {
  background: var(--color4);
  font-family: 'Montserrat', sans-serif;
  color: var(--color1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Encode Sans Expanded', sans-serif;
}

button {
  background-color: var(--color1);
  color: var(--color3);
  font-size: 1.5em;
  text-align: center;
  border: 0;
  padding: 0.3em 2em;
  border-radius: var(--borderRadius);
  outline: none;
}

#greeter,
#leaders {
  z-index: 2;
  border: var(--borderSize) solid var(--color5);
  border-radius: var(--borderRadius);
  background: var(--color2);
  position: fixed;
  height: 40vh;
  width: 40vw;
  top: 20vh;
  left: 30vw;
  text-align: center;
  transition-duration: 0.4s;
  transition-property: opacity, transform;
}

@media (max-width: 768px) {
  #greeter,
  #leaders {
    width: 70vw;
    left: 15vw;
  }
}

#leadersButton,
#leadersCloseButton {
  position: absolute;
  width: 6rem;
  height: 6rem;
  top: -3rem;
  right: -3rem;
  background: var(--color2);
  border: var(--borderSize) solid var(--color5);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

#leadersButton i,
#leadersCloseButton i {
  font-size: 4rem;
}

#leadersButton {
  transform: rotate(10deg);
}

#greeter h1 {
  margin: 0.3em 0;
}

#greeter .n {
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
}

#greeter .n input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--color1);
  font-size: 2em;
  text-align: center;
  outline: none;
}

#greeter .n input::placeholder {
  opacity: 0;
}

#greeter .n input:placeholder-shown~label {
  transform: translateY(140%) scale(2);
}

#greeter .n input:active,
#greeter .n input:focus {
  & ~ label {
    transform: none;
  }
}

#greeter .d {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

#greeter .d label {
  width: 100%;
  font-size: 1.5em;
  margin: 0.3em 0;
}

#greeter .d label.op {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
}

#greeter .d label.op .l {
  display: inline-block;
  margin-left: 0.3em;
}

#leaders {
  opacity: 0;
  pointer-events: none;
  top: 10vh;
  height: 80vh;
}

#leaders .win {
  display: none;
}

#leaders .stats {
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;
  height: 100%;
}

#leaders .stats .stat {
  position: relative;
  width: 50%;
  height: 50%;
  min-height: 20vh;
  padding: 1em;
}

#leaders .stats .stat .title {
  font-size: 1.2em;
}

#leaders .stats .stat i {
  position: absolute;
  font-size: 5em;
  opacity: 0;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
}

#leaders .stats .stat .list[data-items="0"] ~ i {
  opacity: 0.2;
}

#leaders .stats .stat .list {
  overflow-y: auto;
  counter-reset: blah;
  height: 100%;
}

#leaders .stats .stat .list .item {
  counter-increment: blah;
  overflow: hidden;
  padding: 0.15em 0;
  padding-left: 2.8em;
  position: relative;
}

#leaders .stats .stat .list .item:before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  line-height: 1.2;
  content: counter(blah);
  display: block;
  width: 1.2em;
  text-align: right;
}

#leaders .stats .stat .list .item:after {
  content: '';
  display: block;
  opacity: 0.2;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
}

#board {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#board #abort {
  position: fixed;
  top: 1vh;
  right: 1vw;
}

#board #cards {
  position: fixed;
  top: 8vh;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#board #cards .card {
  position: relative;
  user-select: none;
  width: 19.5%;
  height: 16.5%;
  margin: 0.5em;
  background: var(--color2);
  /* border: var(--borderSize) solid var(--color5); */
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: center;
  align-items: center;
}

#board #cards .card i {
  font-size: 5em;
  color: var(--color1);
}

#board #cards .card.visible:after {
  display: none;
}

#board #cards .card.visible.found {
  opacity: 0.2;
  transition: opacity 1s 0.4s;
}

@media (max-width: 768px) {
  #board #cards .card {
    width: 16.6666%;
    height: 16.6666%;
  }
}

@media (max-width: 560px) {
  #board #cards .card {
    width: 25%;
    height: 25%;
  }
}

@media (max-width: 400px) {
  #board #cards .card {
    width: 40%;
    height: 40%;
  }
}

#board.locked #cards {
  pointer-events: none;
}

#board.playing ~ #greeter {
  transform: translateY(-300%) scale(0);
  opacity: 0;
}

#board.playing {
  pointer-events: auto;
  opacity: 1;
}

#board.completed ~ #leaders {
  opacity: 1;
  pointer-events: auto;
}

#leaders.visible ~ #greeter {
  display: none;
}

